# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Environment
.env
.venv/
env/
venv/
*.env

# Jupyter and IPython
.ipynb_checkpoints

# VSCode
.vscode/

# Mac and system files
.DS_Store
Thumbs.db

# Logs
*.log
